body {
	background-color: #fff;
}

.item {
	display: flex;
	flex-direction: row;
	align-items: center;
	
	padding: 6px 8px;
	min-width: 250px;
	border-left: 4px solid var(--octo-lightblue-1);

	.label {
		flex-grow: 1;
		padding: 5px 0;
		white-space: nowrap;
	}

	.check {
		font-size: 1.5em;
		margin-left: 10px;
		
		input[type=checkbox]{
			display: none;
		}
		
		label {
			cursor: pointer;
			text-indent: -9999px;
			width: 1.8em;
			height: 1em;
			background: var(--octo-darkblue-10);
			display: block;
			border-radius: 1em;
			position: relative;
		}
		
		label:after {
			content: '';
			position: absolute;
			top: .1em;
			left: .1em;
			width: .8em;
			height: .8em;
			background: #fff;
			border-radius: 1em;
			transition: 0.3s;
		}
		
		input:checked + label {
			background: var(--octo-lightblue-1);
		}
		
		input:checked + label:after {
			left: calc(100% - 0.1em);
			transform: translateX(-100%);
		}
		
		label:active:after {
			width: 1.1em;
		}
	}
}
