@font-face {
  font-family: "OCTO-Century";
	font-style: normal;
	font-weight: normal;
  src: url(font/Century\ Gothic.otf) format("OpenType");
}

@font-face {
  font-family: "OCTO-Century";
	font-style: normal;
	font-weight: bold;
  src: url(font/Century\ Gothic\ Bold.otf) format("OpenType");
}

@font-face {
  font-family: "OCTO-Century";
	font-style: italic;
	font-weight: normal;
  src: url(font/Century\ Gothic\ Italic.otf) format("OpenType");
}

@font-face {
  font-family: "OCTO-Century";
	font-style: italic;
	font-weight: bold;
  src: url(font/Century\ Gothic\ Bold\ Italic.otf) format("OpenType");
}
